body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    background-image: url(fondo.webp);
    background-repeat: repeat;
}
#movil a, footer a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

header{
    display: flex;
    background-color: rgba(7, 8, 24, 0.9);
    padding: 1rem;
    justify-content:space-between;
    align-items: center;
}

header img{
    width: 400px;
    height: 100px;
    opacity: 70%;
}

header h2{
    color: aliceblue;
    background-color: rgb(10, 10, 50);
    padding: 1rem;
    margin: 0px;
}

#fondo_img{
    margin: 0px;
    padding: 0px;
    background-color: black;
    height: 100px;
}

#lista{
    margin: 5px 0px;
    padding: 0px;
}

#movil{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0.5rem;
    list-style: none;
    position: sticky;
    z-index: 2;
}

#movil > li{
    padding: 5px;
}

.menu{
    position: relative;
    display:inline-block;
}

.menu a{
    padding-left: 5px;
}

#movil a:hover{
    color: rgb(204, 204, 204);
}

#lista{
    display: none;
    list-style: none;
    position: absolute;
    background-color: rgb(17, 31, 58);
    width: 200%;
    transition: 0.3s;
}

#lista li a{
    display: block;
    padding: 15px 0px 15px 5px;
}

#movil li:hover #lista{
    display: block;
    z-index: 100;
}

#lista li:hover{
    background-color: rgb(8, 15, 29);;
}

#articulos{
    background: rgba(0, 0, 0, 0.9);
    padding: 2px;
    margin: 1rem;
    z-index: 1;
    border-radius: 10px;
}

article{
    opacity: 85%;
    background-color: beige;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}

.index:hover{
    box-shadow: 0rem 0.1rem 0.3rem rgba(255, 255, 255, 0.3);
    opacity: 80%;
}

h1{
    background-color: beige;
    display:inline-block;
    margin: 1rem;
    padding: 1rem;
}

.index img{
    width: 250px;
    height: 150px;
}

article a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.killers h2{
    margin-top: 0px;
}

.killers p{
    font-size:large;
}

.contenido{
    margin: 1rem;
}

.videos{
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.9);
    /* padding: 1rem; */
    margin: 1rem 0.3rem 1rem;
}

.videos p{
    padding: 1rem;
    text-align: center;
}

.video{
    margin: 1rem;
}

#contenidoPagina{
    display: flex;
}

footer{
    background-color: black;
    padding: 1rem;
}

footer p{
    text-align: center;
    color: rgb(180, 180, 180);
}

footer a{
    text-decoration: none;
    color: aliceblue;
}

/* ESTILO FORMULARIO */

#formularioDiv{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    margin: 10% 30%;
}

#formularioDiv h2{
    color: aliceblue;
    text-align: center;
    margin-top: 0px;
}

.input_form{
    display: flex;
    margin: 5px;
}

.textoError{
    margin: 0px 5px;
    color: darkred;
    text-shadow: 1px 1px 1px darksalmon;
}

.inputError{
    border: 1px solid red;
}

#f_submit{
    margin: 1rem 0px;
}

#suscripciones{
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
}

#suscripciones p{
    margin: 10px 5px;
}