body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    background-image: url(fondo.webp);
    background-repeat: repeat;
}
#movil a, footer a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    background-color: rgba(7, 8, 24, 0.9);
    padding: 1rem;
    justify-content:space-between;
    align-items: center;
}

header img{
    width: 400px;
    height: 100px;
    opacity: 70%;
}

header h2{
    color: aliceblue;
    background-color: rgb(10, 10, 50);
    padding: 1rem;
    margin: 0px;
}

#fondo_img{
    margin: 0px;
    padding: 0px;
    background-color: black;
    height: 100px;
}

#movil{
    display: flex;
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 2;
    color: aliceblue;
}

ul, li{
    list-style-type: none;
    margin: 0px;
    display: flex;
}

li{
    margin-left: 10px;
}

#articulos{
    background: rgba(0, 0, 0, 0.9);
    padding: 2px;
    margin: 1rem;
    z-index: 1;
    width: 70%;
    border-radius: 10px;
}

article{
    opacity: 85%;
    background-color: beige;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}

article:hover{
    box-shadow: 0rem 0.1rem 0.3rem rgba(255, 255, 255, 0.3);
    opacity: 80%;
}

article img{
    width: 250px;
    height: 150px;
}

article a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.contenido{
    margin: 1rem;
}

.videos{
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    margin: 1rem 0.3rem 1rem;
}

.video{
    margin: 1rem;
}

#contenidoPagina{
    display: flex;
}

footer{
    background-color: black;
    padding: 3rem;
    color: aliceblue;
}